[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = These are the tasks given by amFoss for semester 2 :nerd_face:
[access "refs/*"]
	owner = group user/Navneet singh (codenavneet)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Navneet singh (codenavneet)
	label-Verified = -1..+1 group user/Navneet singh (codenavneet)
	push = group user/Navneet singh (codenavneet)
	read = group user/Navneet singh (codenavneet)
	rebase = group user/Navneet singh (codenavneet)
	removeReviewer = group user/Navneet singh (codenavneet)
	submit = group user/Navneet singh (codenavneet)
[access "refs/heads/*"]
	create = group user/Navneet singh (codenavneet)
	push = +force group user/Navneet singh (codenavneet)
	pushMerge = group user/Navneet singh (codenavneet)
	read = group user/Navneet singh (codenavneet)
[access "refs/tags/*"]
	push = group user/Navneet singh (codenavneet)
	push = +force group user/Navneet singh (codenavneet)
